@import url(./styles/atoms.css);
@import url(./styles/molecules.css);
@import url(./styles/organisms.css);
@import url(./styles/templates.css);
@import url(./styles/style_markdown.css);

:root {
    /* NOTE : COLORS */
    /* --lvr_color_background: red; */

    /* NOTE : INFO CONT */
    --lvr_color_info_background: #282C34;
    --lvr_color_info_navbar_background: #21252B;
    --lvr_color_info_pont_1: #F975FD;
    --lvr_color_info_pont_2: #77C5FD;
    --lvr_color_info_pont_3: #99FF7A;
    --lvr_color_txt_info: #dddddd;

    --lvr_color_background_subcont: #343A44;
    --lvr_color_background_subcont_hover: #4c5667;
    --lvr_color_background_subcont_2: #21252B;

    --lvr_color_background_sections: #1fbcff52;
    --lvr_color_sections: #1FBAFF;
    --lvr_color_sections_hover: #60aeee;

    --lvr_color_background_code: #99ff7a3f;
    --lvr_color_code: #99FF7A;

    --lvr_color_button_1: #1FBAFF;
    --lvr_color_button_2: gray;
    --lvr_color_button-text: white;

}

.lvr-icon {
    fill: white;
}

#lvr-cont {
    background: var(--lvr_color_background);
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    background: none;
    /* border: 1px solid red; */
    border: none;
    outline: none;
    
    &::backdrop {
        background: linear-gradient(135deg, rgba(12, 8, 22, 0.712), rgba(17, 23, 41, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    & form {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;

        /* NOTE : MOVIL SIZE */
        @media (max-width: 580px) {
            flex-direction: column;
        }
    }

    .from_relative {
        position: relative;
    }
}

#lvr_dialog_sections {
    background: var(--lvr_color_info_background);
    color: var(--lvr_color_txt_info);
    border-radius: 5px;
    border: none;
    outline: none;
    
    &::backdrop {
        background: linear-gradient(135deg, rgba(12, 8, 22, 0.712), rgba(17, 23, 41, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    & form {
        justify-content: center;
    }
}

& ::-webkit-scrollbar {
    width: 5px;
}
& ::-webkit-scrollbar-track {
    background: #2b384687;
}
& ::-webkit-scrollbar-thumb {
    background: #6483be53;
}

dialog[open] {
    scale: 1;
    transition: scale .3s ease-in-out;
    
    @starting-style {
      scale: 0;
    }
  }
  
dialog {
transition: scale .3s ease,
    display .3s ease allow-discrete;
    scale: 0;
}